@model kutuphane_apiproje.Models.Author

@{
    ViewData["Title"] = "Yeni Yazar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="form-container">

    <div class="form-card">

        <div class="page-header">
            <span>Yazar İşlemleri</span>
            <h2>Yeni Yazar Ekle</h2>
        </div>

        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-box">
                <label asp-for="FullName"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="form-box">
                <label asp-for="Country"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>

            <button type="submit" class="save-btn">
                Kaydet
            </button>

            <a asp-action="Index" class="back-btn">
                Geri Dön
            </a>

        </form>

    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

