@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model Category

<form method="post">

    <!-- UPDATE için şart -->
    <input type="hidden" asp-for="Id" />

    <label>Kategori Adı</label>

    <input asp-for="CategoryName"
           class="form-control" />

    <br />

    <button class="btn btn-primary">
        Güncelle
    </button>

</form>