* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #faf8f5;
    font-family: 'Segoe UI';
}

.sidebar {
    position: fixed;
    width: 260px;
    height: 100vh;
    background: #2f2a27;
}

.logo {
    padding: 30px;
    color: white;
    text-align: center;
}

.sidebar ul {
    list-style: none;
}

    .sidebar ul li {
        margin: 8px 15px;
    }

        .sidebar ul li a {
            color: white;
            text-decoration: none;
            display: block;
            padding: 14px 20px;
            border-radius: 15px;
            transition: .3s;
        }

            .sidebar ul li a:hover {
                background: #c5a992;
            }

.sidebar i {
    width: 25px;
}

.main-content {
    margin-left: 260px;
}

.topbar {
    background: white;
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 15px rgba(0,0,0,.08);
}

.content {
    padding: 40px;
}



.dashboard-card {
    background: white;
    padding: 35px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,.08);
    transition: .3s;
}

    .dashboard-card:hover {
        transform: translateY(-7px);
    }

    .dashboard-card i {
        font-size: 40px;
        color: #c5a992;
        margin-bottom: 15px;
    }

    .dashboard-card h2 {
        font-size: 35px;
        font-weight: 700;
    }

    .dashboard-card p {
        color: gray;
    }
